<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cyberwasp.teamsplitter"
    android:versionCode="1"
    android:versionName="1.0.alpha" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:theme="@style/Theme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.SelectPlayersActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SplitResultActivity"></activity>
        <activity android:name=".activities.PlayerEditorActivity"></activity>
        </application>

</manifest>